.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  max-width: 800px;
}

.displayimg {
  width: 100%;
}

.heading {
  font-size: 28px;
  font-weight: 700;
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
